name: ItemAdder GUI Builder
on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python_version: '3.10'

      - name: Install Dependencies
        run: pip install pyyaml

      - name: Run Generator
        # Wir sagen dem Skript hier direkt, was es tun soll, ohne Fragen zu stellen
        run: python generator.py --auto
